* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  position: relative;
  display: inline-block;
}

.verdict {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 2rem;
  opacity: 0;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.5rem;
  color: white;
}

.link {
  color: red;
  text-decoration: none;
  transition: 0.7s all ease;
}

.link:hover {
  color: yellow;
  text-decoration: underline;
  font-size: 1.2rem;
}
